<template>
    <div class="slds-align_absolute-center">
        <div class="slds-grid slds-grid_vertical">            
            <div class="slds-col stock-tracker">
                <img src="./resources/btc_dummy.png"/>
            </div>
            <div class="slds-col stock-tracker">
                <img src="./resources/eth_dummy.png" alt="Old Ethereum Ticker" srcset="">
            </div>
        </div>
    </div>
</template>