<template>
    <div class="slds-grid slds-align_absolute-center">
        <div class="slds-col center">
            <ul>
                <li><a href="#" class="link-footer">Contact</a></li>
                <li><a href="#" class="link-footer">About</a></li>
                <li><a href="#" class="link-footer">FAQs</a></li>
                <li>Support</li>
            </ul>
        </div>
    </div>
</template>