
.blog {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10vw 10vh;
    background-image: linear-gradient(180deg, #e1b07eff, #e5be9eff, #cbc0adff, #86a397ff, #361d2eff);
}

.blog-author {
    color:  #86a397ff;
    font-style: italic;
    text-decoration: none;
}


h1 {
    font-weight: bold;
    font-size: 3rem;
}
