<template>
    <section class="blog">
        <h1 class="blog-header">Welcome to Cryptalis!</h1>
        <a href="#" class="blog-author">Author: Matthew Jeffery, Developer</a>
        <div class="blog-body">
            Cryptalis welcomes all of you to a new era in wallet management! All of us here desire to streamline the process to create and manage your wealth on the blockchain!
        </div>
    </section>
</template>