<template>
    <div class="slds-col slds-align_absolute-center">
        <div>
            <div><img src="./resources/marketing_1.png"></div>
            <div>
                <h1>Cryptalis introces low-fee transactions and comprehensive, secure wallet management.</h1>
            </div>
        </div>
    </div>
</template>