<template>
    <div class="slds-grid slds-gutters slds-grid_vertical">
        <crts-navbar class="slds-col center navbar" onlogoutsuccessful={handleLogout} onloginsuccessful={handleLogin} onlinkclick={handleLinkClick} currentrole={currentUser}></crts-navbar>
        <div class="slds-grid">

            <template if:true={isLanding}>
                <crts-marketing class="slds-col slds-size_2-of-3 marketing-container"></crts-marketing>
            </template>

            <template if:true={isBlog}>
                <crts-blog></crts-blog>
            </template>
            
            <crts-stock-container class="slds-col slds-size_1-of-3 stocks-container"></crts-stock-container>
            
        </div>
        <div class="slds-docked-form-footer footer-container center">
            <crts-footer-container></crts-footer-container>
        </div>
    </div>
</template>
