.center {
    text-align: center;
}

.navbar {
    background-image: linear-gradient(to bottom, black, hsla(319, 30%, 16%, 1));
    color: rgba(229, 190, 158, 1);
    height: 84px;
    margin: 0;
}

.marketing-container {
    background: linear-gradient(180deg, #e1b07eff, #e5be9eff, #cbc0adff, #86a397ff, #361d2eff);
    height: 90vh;
    margin: 0px;
    padding: 5vh 10vw;
    background-size: cover;
}

.stocks-container {
    background: linear-gradient(270deg, black, #361d2eff);
    color: #cbc0adff;
    margin: 0px;
    padding: 1vh 1vw;
}

.footer-container {
    background: linear-gradient(to bottom,  #361d2eff, black);
    height: 80px;
}