<template>
    <div class="slds-grid">
        <div class="slds-col slds-col_bump-right align-left">
            <img src="./resources/light_logo.svg" class="image-logo-light" onclick={clickLanding}/>
        </div>
        
        <div class="slds-button-group" role="group">
            <span class="slds-button slds-button_brand" onclick={clickBlogLink}>Blog</span>
            <template if:true={isAuthUser}>
                <span class="slds-button slds-button_brand">Account</span>
                <span class="slds-button slds-button_brand">Wallets</span>            
            </template>
            
            <div id="menu_click" onclick={dropdownToggle} class="slds-dropdown-trigger slds-dropdown-trigger_click">
                             
                <span class="slds-button slds-button_brand">
                    <span class="slds-icon_container slds-icon-utility-keypad" title="Menu Options">
                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                        <use xlink:href="/SLDS/icons/utility-sprite/svg/symbols.svg#keypad"></use>
                        </svg>
                        <span class="slds-assistive-text">Menu Options</span>
                    </span>
                </span>
                <div class="slds-dropdown slds-dropdown_right">
                    <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="#" role="menuitem" tabindex="0">
                                <span class="slds-truncate" title="Menu Item One">Messages</span>
                            </a>
                        </li>
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="#" role="menuitem" tabindex="-1">
                                <span class="slds-truncate" title="Menu Item Three">Support</span>
                            </a>
                        </li>
                        <li class="slds-has-divider_top-space" role="separator"></li>
                        <li class="slds-dropdown__item" role="presentation">
                            <template if:true={isAuthUser}>
                                <a href="#" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Menu Item Four" onclick={handleLogoutClick}>Logout</span>
                                </a>
                            </template>
                            <template if:false={isAuthUser}>
                                <a href="#" role="menuitem" tabindex="-1" onclick={handleLoginClick}>
                                    <span class="slds-truncate" title="Menu Item Four">Login</span>
                                </a>
                            </template>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>