:host {    
    --slds-c-button-color-background: transparent;    
    --slds-c-button-brand-text-color: #e5be9eff;
    --slds-c-button-brand-color-background: transparent;
    --slds-c-button-brand-color-border: transparent;
    padding: 0px;
    margin: 0px;
}

.image-logo-light 
{
    height: 3rem;
}

.menu-link {
  font-size: 22pt;
  color: #e5be9eff;
}

.menu-button {
    vertical-align: center;
}

