/* CSS HEX */
--corn: #fff05aff;
--orange-yellow-crayola: #ffd25aff;
--rajah: #ffaa5aff;
--outrageous-orange: #ff785aff;
--eerie-black: #191919ff;

/* CSS HSL */
--corn: hsla(55, 100%, 68%, 1);
--orange-yellow-crayola: hsla(44, 100%, 68%, 1);
--rajah: hsla(29, 100%, 68%, 1);
--outrageous-orange: hsla(11, 100%, 68%, 1);
--eerie-black: hsla(0, 0%, 10%, 1);

/* SCSS HEX */
$corn: #fff05aff;
$orange-yellow-crayola: #ffd25aff;
$rajah: #ffaa5aff;
$outrageous-orange: #ff785aff;
$eerie-black: #191919ff;

/* SCSS HSL */
$corn: hsla(55, 100%, 68%, 1);
$orange-yellow-crayola: hsla(44, 100%, 68%, 1);
$rajah: hsla(29, 100%, 68%, 1);
$outrageous-orange: hsla(11, 100%, 68%, 1);
$eerie-black: hsla(0, 0%, 10%, 1);

/* SCSS RGB */
$corn: rgba(255, 240, 90, 1);
$orange-yellow-crayola: rgba(255, 210, 90, 1);
$rajah: rgba(255, 170, 90, 1);
$outrageous-orange: rgba(255, 120, 90, 1);
$eerie-black: rgba(25, 25, 25, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fff05aff, #ffd25aff, #ffaa5aff, #ff785aff, #191919ff);
$gradient-right: linear-gradient(90deg, #fff05aff, #ffd25aff, #ffaa5aff, #ff785aff, #191919ff);
$gradient-bottom: linear-gradient(180deg, #fff05aff, #ffd25aff, #ffaa5aff, #ff785aff, #191919ff);
$gradient-left: linear-gradient(270deg, #fff05aff, #ffd25aff, #ffaa5aff, #ff785aff, #191919ff);
$gradient-top-right: linear-gradient(45deg, #fff05aff, #ffd25aff, #ffaa5aff, #ff785aff, #191919ff);
$gradient-bottom-right: linear-gradient(135deg, #fff05aff, #ffd25aff, #ffaa5aff, #ff785aff, #191919ff);
$gradient-top-left: linear-gradient(225deg, #fff05aff, #ffd25aff, #ffaa5aff, #ff785aff, #191919ff);
$gradient-bottom-left: linear-gradient(315deg, #fff05aff, #ffd25aff, #ffaa5aff, #ff785aff, #191919ff);
$gradient-radial: radial-gradient(#fff05aff, #ffd25aff, #ffaa5aff, #ff785aff, #191919ff);