/* CSS HEX */
--middle-yellow-red: #e1b07eff;
--desert-sand: #e5be9eff;
--khaki-web: #cbc0adff;
--morning-blue: #86a397ff;
--dark-purple: #361d2eff;

/* CSS HSL */
--middle-yellow-red: hsla(30, 62%, 69%, 1);
--desert-sand: hsla(27, 58%, 76%, 1);
--khaki-web: hsla(38, 22%, 74%, 1);
--morning-blue: hsla(155, 14%, 58%, 1);
--dark-purple: hsla(319, 30%, 16%, 1);

/* SCSS HEX */
$middle-yellow-red: #e1b07eff;
$desert-sand: #e5be9eff;
$khaki-web: #cbc0adff;
$morning-blue: #86a397ff;
$dark-purple: #361d2eff;

/* SCSS HSL */
$middle-yellow-red: hsla(30, 62%, 69%, 1);
$desert-sand: hsla(27, 58%, 76%, 1);
$khaki-web: hsla(38, 22%, 74%, 1);
$morning-blue: hsla(155, 14%, 58%, 1);
$dark-purple: rgb(223, 63, 169);

/* SCSS RGB */
$middle-yellow-red: rgba(225, 176, 126, 1);
$desert-sand: rgba(229, 190, 158, 1);
$khaki-web: rgba(203, 192, 173, 1);
$morning-blue: rgba(134, 163, 151, 1);
$dark-purple: rgba(54, 29, 46, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e1b07eff, #e5be9eff, #cbc0adff, #86a397ff, #361d2eff);
$gradient-right: linear-gradient(90deg, #e1b07eff, #e5be9eff, #cbc0adff, #86a397ff, #361d2eff);
$gradient-bottom: linear-gradient(180deg, #e1b07eff, #e5be9eff, #cbc0adff, #86a397ff, #361d2eff);
$gradient-left: linear-gradient(270deg, #e1b07eff, #e5be9eff, #cbc0adff, #86a397ff, #361d2eff);
$gradient-top-right: linear-gradient(45deg, #e1b07eff, #e5be9eff, #cbc0adff, #86a397ff, #361d2eff);
$gradient-bottom-right: linear-gradient(135deg, #e1b07eff, #e5be9eff, #cbc0adff, #86a397ff, #361d2eff);
$gradient-top-left: linear-gradient(225deg, #e1b07eff, #e5be9eff, #cbc0adff, #86a397ff, #361d2eff);
$gradient-bottom-left: linear-gradient(315deg, #e1b07eff, #e5be9eff, #cbc0adff, #86a397ff, #361d2eff);
$gradient-radial: radial-gradient(#e1b07eff, #e5be9eff, #cbc0adff, #86a397ff, #361d2eff);